PORT=3000
BACKEND_GRPC_URL=0.0.0.0:50051

DATABASE_URL=

CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
SERVICE_TOKEN=dev-service-token

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ENABLE_BE_HTTP_PUBLIC=false
ENABLE_BE_WORKERS=false
RABBITMQ_URL=
RABBITMQ_EXCHANGE=edtech.jobs
RABBITMQ_PREFETCH=10
